<h1>Edit <%= @po.name %></h1>

<% form_for(@po, :url => {:action => 'update', :id => @po.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Name' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Header' %><br />
    <%= f.text_area :header %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @po.id %>

